
body{
    font-family: 'PT Sans', sans-serif;
    color: white;
}

/*common class*/
.pading{
    padding: 100px 0px;
}


.margin_bottom{
    margin-bottom: 30px;
}

.common_title{
    margin-top: 100px;
    text-shadow: 0px 4px 9px;
}

/*----------*/
header{
    min-height: 71px;
    background-color: #216060;
    border-bottom: 1px solid #6e57eb;
    
}

.nav_color{
    background-color: #216060;;
}

.custom_nav{
    font-size: 20px;
    font-weight: 700;
    
}
.custom_nav ul li a{
    color: white !important;
}

/*inspire_content----------*/

#slider{
    background-color: #216060;
    
}

#slider img{
    border: 5px solid #6e57eb;
    border-style: groove;
}

